.chat-body {
    background:url("../../Images/background.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    height:100vh !important;
    overflow-x: hidden;
   
   
 
    
}

.chat-heading {
    background-color:#2A2E32;
    display:flex;
    justify-content: space-between;
    padding:0.5rem 2rem;
    width: 68%;
    color: #B1B3B5;
    z-index: 99999999;
    position: fixed;

   
   
    
   
}

.chat-display-heading-icons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:2rem !important;
    
}

.contact-img-name-last-seen {
    display:flex;
    gap:1rem;
}

.last_seen{
    color:#CECFCF;
}


.col-md-4 {
    padding:0rem !important;
}



.each_text_received {

    margin: 1rem 1rem 0rem 5rem;
    background-color: #323739 !important;
    border-radius: 20px !important;
    width: 250px !important;
}

.first-text {
    margin-top: 5rem !important;
}

.each_text_sent {

    margin:0% 0% 0% 43% !important;

    background-color:#026162 !important;
    border-radius: 20px !important;
    width: 250px !important;
    padding:0.5rem !important;
}

.last-text {
    margin-bottom: 6.5rem !important;
}


.img-text  {
    padding:1rem !important;
    border-radius: 20px !important;
}


.reply-box {
 background-color: #2A2E32;
 padding:0.5rem;
 border-radius: 7px;
 border-left: 4px solid #6BCBEF;
}

.You {
    color:#6BCBEF;
    font-weight: bold;
}


.reply-box-2 {
    background-color: #065051;
    padding:0.5rem;
    border-radius: 7px;
    border-left: 4px solid #36CC95;
}

.reply-body {
    padding-top: 0rem !important;
  
}
   
.them {
       color:#36CC95;
       font-weight: bold;
}


.reply-text {
    color:#CECFCF;
}


.text-time-stamp {
    font-size: 0.7rem;
    display:flex;
    justify-content: end;
    color: #CECFCF;

}

.received-check {
   font-size: 1.4rem;
   color:#34AFE7;
}

.unread-check {
    font-size: 1.4rem;
    color: #6C757D;
 }

.send-message-form-box {
    background-color: #2A2E32!important;
    color: #6C757D;
    padding:1rem;
    position: absolute;
    bottom:-16px;
    width:68% !important;
    display:flex;
    align-items: center;
    gap:0.8rem;
    margin-top: 4rem !important;
}
.send-mesage-form {

    border:none !important;
    border-radius: 100px !important;
    background-color: #323739 !important;
    color:white !important;
  
   
}

.send-mesage-form:focus {
    outline:none !important;
    box-shadow: none !important;
    border: none !important;
}


.chat-contact-name {
    color:white;
}
.chat-img {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sent-links {
    text-decoration: underline !important;
    color: #34AFE7 !important;
}