.left-box {
    border-right: 2px solid black;
    background-color:#141C21; 
}


.left-profile-heading {
    background-color:#2A2E32;
    color:white;
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
    padding-right: 3rem;
    position: fixed;
    width: 33%;  
}


.left-heading-icons {
display:flex;
gap:2rem;
align-items: center;
color: #B1B3B5
}


.search-form {
    background-color: #323739 !important;
    border:none !important;
    border-radius: 50px !important;
    color:white !important;
    margin-top: 100px;
    
}


.search-form::after {
    outline:none !important;
    border:none !important;
}

.contact-img {
    width:50px;
    height: 50px;
    border-radius: 50px;
}

.contactName-text-preview-nd-timestamp {
display: grid;
grid-template-columns:7fr 1fr;

}


.img-nd-descrip {
    display:flex;
    justify-content: space-evenly;
    padding:0rem !important;
 

}

.time-stamp {
    color: #CECFCF;
    font-size: 0.8rem;
    margin-top: 0.7rem !important;
    margin-left: 0.4rem !important;
   
}

.time-stamp-dropdown {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.dropdown-icon {
 
    font-size: 1rem;
}




.text-preview {
    color: #CECFCF;
    margin: 0rem 0rem 0.7rem 0.5rem !important;
   
}

.notification-count {
    margin-left: 0rem;
    margin-top: 0.9rem;
    padding:0rem 0.5rem;
    border-radius: 50px;
}

.dropdown-toggle {
    background-color: transparent !important;
    color:white !important;
    border:none !important;
    margin: 0rem !important;
    padding:0rem !important;
    font-size: 1.5rem !important;
    margin-top: 0.9rem !important;
    padding-right:0.5rem !important;
}

.dropdown-toggle:focus {
    outline: none !important;
  box-shadow: none !important;
}

.dropdown-toggle::after {
 display:none !important;
}

.dropdown-icon {
    font-size: 1.3rem;
}

.dropdown-menu {
    background-color:#2A2E32 !important;
    padding:1rem !important;
}

.each-drop-item:hover {
    background-color: #141C21 !important;
}

.received-check {
    font-size: 1rem;
    color:#34AFE7;
 }

a {
    text-decoration: none !important;
    color:white !important;
 
}

p, h5 {
    margin:0px !important;
}


.img-nd-descrip {
    padding:0rem !important;
    margin:0rem !important;


}
.img-nd-descrip:hover {
    background-color:#323739 !important;
    padding:0rem !important
    
 

}

.contact-img {
    margin: 0.7rem 0rem 0.7rem 0.7rem;
}

.chat-name {
    margin: 0.7rem 0rem 0rem 0.7rem !important;
}


hr {
    background-color: #777777 !important;
    margin: 0rem !important;

}




